.gradle/
.idea/
build/
captures/
local.properties
*.iml
/.kotlin/
app/build/
app/release/
.externalNativeBuild/
.cxx/
*.aab
*.apk
output-metadata.json
*.log
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
*.jks
*.keystore
google-services.json
*.hprof
.DS_Store
